<script>
    import { onMount } from "svelte";
    import { storage } from "wxt/storage";
    import UrlInputRow from "./UrlInputRow.svelte";
    import UrlRow from "./UrlRow.svelte";
    import UrlTable from "./UrlTable.svelte";
    import URLS_STORAGE_KEY from "../../lib/urlsStorageKey.js";
    let urlsString = JSON.stringify([]);
    const removeUrl = (urlToRemove) =>
        storage
            .getItem(URLS_STORAGE_KEY)
            .then((string) =>
                JSON.parse(string).filter((url) => url != urlToRemove),
            )
            .then(JSON.stringify)
            .then((string) => storage.setItem(URLS_STORAGE_KEY, string));
    const addUrl = (urlToAdd) =>
        storage
            .getItem(URLS_STORAGE_KEY)
            .then((string) => [...JSON.parse(string), urlToAdd])
            .then(JSON.stringify)
            .then((string) => storage.setItem(URLS_STORAGE_KEY, string));
    onMount(() => {
        storage.getItem(URLS_STORAGE_KEY).then((string) => {
            urlsString = string;
        });
        const unwatch = storage.watch(URLS_STORAGE_KEY, (string) => {
            urlsString = string;
        });
        return unwatch;
    });
</script>

<h1>URL Whitelist</h1>
<UrlTable urls={JSON.parse(urlsString)} {addUrl} {removeUrl} />
