table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem; /* Adjust the margin to 1 rem */
    font-size: 0.9rem; /* Set the font size to 0.9 rem */
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.6rem; /* Adjust the padding to 0.6 rem */
}

th {
    background-color: #f2f2f2;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        page-break-inside: auto;
        font-size: 0.8rem; /* Adjust the font size for print */
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 0.5rem; /* Adjust the padding for print */
    }

    th {
        background-color: #f2f2f2;
    }
}
