<script>
    export let url = "";
    export let addUrl;
</script>

<tr>
    <td><input bind:value={url} /></td>
    <td
        ><button
            on:click={() => {
                addUrl(url).then((url = ""));
            }}>Add</button
        ></td
    >
</tr>
