<script>
    import UrlInputRow from "./UrlInputRow.svelte";
    import UrlRow from "./UrlRow.svelte";
    export let urls;
    export let addUrl;
    export let removeUrl;
</script>

<table>
    <thead>
        <tr>
            <th>URL</th>
            <th>
                <span class="sr-only">Actions</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {#each urls as url}
            <UrlRow {url} {removeUrl} />
        {/each}
        <UrlInputRow {addUrl} />
    </tbody>
</table>
